.site-footer{
    position: relative;
    background-color: #008CBA;
    width: auto;
    font-family: Arial, Helvetica, sans-serif;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.5em 1em;
    box-sizing: border-box;
    color: white;
}

.about-us{
    float: left;
    text-align: left;
    display: inline;
}

.copyright-text{
    float: right;
    text-align: right;
    display: inline;

}

footer a{
    color: white;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

