section h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    margin: 0 0 15px 20px;
    padding-top: 30px;
}

.small-icon-1 {
    width: 12px;
}

.small-icon-2 {
    width: 15px;
}

article p,
article h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.btn-pagination {
    margin: 0 2px;
    padding: 5px;
}

form{
    text-align: center;
}

div{
    display: inline-block;
    margin: 0px 10px;
}

@media (min-width: 480px) {
    
}

@media (min-width: 760px) {
    
}
