table thead{
    background-color: #008CBA;
    color: white;
}

table>tbody{
    background-color: white;
}

table th,td{
    border: solid black 1px;
}
table th:first-child{
    border-top-left-radius: 10px;
}
table th:last-child{
    border-top-right-radius: 10px;
}
table tr:last-child>td:first-child{
    border-bottom-left-radius: 10px;
}
table tr:last-child>td:last-child{
    border-bottom-right-radius: 10px;
}